@model IEnumerable<RosterRandomizer.Student>
@{
    ViewData["Title"] = "FromCode";
}
<div id="page-message">
    Test Message.
</div>
<h1>Your Roster</h1>
<a asp-action="GetStudentsFile" asp-route-code="@ViewBag.code">Export List</a>
<div class="actions">
    <button id="btnPickRandomStudent">Pick Random Student</button>
    <button id="btnCopyCode">Copy Class Code to Clipboard</button>
    <input id="txtClassCode" disabled value="@ViewBag.code" />
</div>
<div id="roster-container">
    <partial name="Parts/List" model="Model" />
</div>
<div class="float-reset"></div>


<div id="shadowBox">
    <div id="modal">
        <a class="closer" href="#">Close</a>
        <ul id="cardHolder">
        </ul>
        <ul id="modalControls">
            <li>
                <button id="btnOK">OK</button>
            </li>
            <li>
                <button id="btnOKAnother">OK; pick another</button>
            </li>
            <li>
                <button id="btnAbsentAnother">Not here; pick another.</button>
            </li>
        </ul>
        <div id="loader">
            <img src="~/images/search.gif" />
        </div>
    </div>
</div>


@section Scripts{
    <script>var myCode = "@ViewBag.code";</script>
}