@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Choose an Option</h4>
    <div>
        <p>Upload a class roster</p>
        @using (Html.BeginForm("FromFile", "StudentRoster", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <input type="file" id="fupImport" name="file" />
            <input type="submit" value="Begin" />
        }
    </div>
    <div>
        <p>Enter an existing class code.</p>
        @using (Html.BeginForm("FromCode", "StudentRoster", FormMethod.Get)) {
            <input type="text" id="txtCode" name="code" />
            <input type="submit" value="Continue" />
        }
    </div>
</div>
